<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control',autofocus: true %>
</div>

<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, class: 'form-control'%>
</div>

<div class="form-group">
	<%= f.label :location %>
	<%= f.select :location_id, Location.all.collect { |p| [ p.name, p.id ] }, include_blank: true, class: 'form-control'%>
</div>



<%= f.submit :save %>