<section class="strips">
  <article class="strips__strip">
    <%= link_to locations_path, data:{turbolinks: false} do %>
    <div class="strip__content">
      <h1 class="strip__title" data: { no_turbolink: true }>Game</h1>
    </div>
    <%end%>
  </article>
  <article class="strips__strip">
    <%= link_to items_path, data:{turbolinks: false}  do %>
    <div class="strip__content">
      <h1 class="strip__title">Items</h1>
    </div>
    <%end%>
  </article>
  <article class="strips__strip">
    <%= link_to about_path, data:{turbolinks: false} do%>
    <div class="strip__content">
      <h1 class="strip__title">About</h1>
    </div>
    <%end%>
  </article>

  <article class="strips__strip">
  <a href='https://hackyourmind.in.ua/cyber-spells/'>
    <div class="strip__content">
      <h1 class="strip__title">Contact</h1>
    </div>
    </a>
  </article>
  <article class="strips__strip">
  <% if current_user.nil? %>
    <%= link_to new_user_session_path do%>
      <div class="strip__content">
        <h1 class="strip__title">Login</h1>
      </div>
    <%end%>
    <% else %>
      <%= link_to destroy_user_session_path, method: :delete   do %>
        <div class="strip__content">
          <h1 class="strip__title">Exit</h1>
        </div>
      <%end%>
  <%end%>
  </article>
  </section>

