<%= render 'layouts/navbar' %>
<script>
	$("#nav").addClass('nav-color1');
</script>
<div class="container">
	<br>
 	<div class="cards">
 		<div class="table">
		<center><div class="button1"><p class="titles"><%=@location.name%></p></div></center>
	<div class="modal">
		<div class="front"><p class="titles"><%=@location.name%></p></div>
		<div class="back">
			<div class="content">
				<h1><%= @quest.name %></h1>
				<p><%= @quest.description %></p>
			</div>
		</div>
		<div class="opened">
			<div class="content">
				<h1><%= @quest.name %></h1>
				<p><%= @quest.description %></p>
			</div>
			<div class="close"></div>
		</div>
	</div>
	<div class="wrapper"></div></center>

		</div>
		<center></center>
		<%@variants.each do |variant| %>
			<%= render '/variants/variant', variant:variant %>
		<%end%>
	</div>
</div>

	<div id="live-chat">
		
		<header class="clearfix">
			
			<a href="#" class="chat-close">x</a>

			<h4>Gmae Log</h4>

			<span class="chat-message-counter">3</span>

		</header>

		<div class="chat">
			
			<div class="chat-history">
				
				<div class="chat-message clearfix">
					
				<hr>
					<%= @game_log.text%>
				<hr>

			</div> <!-- end chat-history -->

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->

<script>
$('.button1').click(function() {
  $(this).hide();
	$('.front').addClass('front-open');
	$('.back').addClass('back-open');
	$('.opened').addClass('opened-open');
	$('.modal').show();
	setTimeout(function() {
		$('.modal').addClass('shadow');
	}, 1000);
	setTimeout(function() {
		$('.front').removeClass('front-open');
		$('.back').removeClass('back-open');
		$('.opened').removeClass('opened-open');
	}, 1200);
  $('.wrapper').delay(500).fadeIn();
});

$('.close').click(function() {
	$('.wrapper').fadeOut(300);
	$('.modal').removeClass('shadow');
	$('.front').addClass('front-close');
	$('.back').addClass('back-close');
	$('.opened').addClass('opened-close');
	setTimeout(function() {
		$('.modal').hide();
		$('.button1').show();
		$('.front').removeClass('front-close');
		$('.back').removeClass('back-close');
		$('.opened').removeClass('opened-close');
	}, 1100)
})

$('.wrapper').click(function() {
	$('.wrapper').fadeOut(300);
	$('.modal').removeClass('shadow');
	$('.front').addClass('front-close');
	$('.back').addClass('back-close');
	$('.opened').addClass('opened-close');
	setTimeout(function() {
		$('.modal').hide();
		$('.button').show();
		$('.front').removeClass('front-close');
		$('.back').removeClass('back-close');
		$('.opened').removeClass('opened-close');
	}, 1100)
})


(function() {

	$('#live-chat header').on('click', function() {

		$('.chat').slideToggle(300, 'swing');
		$('.chat-message-counter').fadeToggle(300, 'swing');

	});

	$('.chat-close').on('click', function(e) {

		e.preventDefault();
		$('#live-chat').fadeOut(300);

	});

}) ();
</script>

